<div class="body">
    <div th:replace="layaut/layaut :: alert"></div>
    <!-- <div class="alert alert-danger text-center">
        <strong>Lista DE Usuarios</strong>
    </div> -->
    <div class="text-right">
        <button type="button" class="btn btn-primary waves-effect" onclick="agregarUsuarioNuevo()">
            <i class="material-icons">group_add</i>
            <span>AGREGAR USUARIO</span>
        </button>
        
    </div>
    
    <div class="table-responsive">
        <br>
        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                    <th>Persona</th>
                    <th>Predios Asignados</th>
                    <th>Rol</th>
                    <th>Operación</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="u ,num : ${usuarios}" th:if="${u.estado.toString() != 'X'}">
                    <td  th:text="${num.count}"></td>
                    <td  th:text="${u.usuario}"></td>
                    <td  th:text="${u.contrasena}"></td>
                    <td th:if="${u.persona != null}"  th:text="${u.persona.nombre +' '+ u.persona.ap_paterno +' '+ u.persona.ap_materno}"></td>
                    <td th:if="${u.previos.size() > 0}">
                        <ul>
                            <li th:each="p : ${u.previos}" th:if="${p.estado_previo == 'A'}" th:text="${p.procedencia.procedencia}"></li>
                        </ul>
                    </td>
                    <td th:if="${u.previos.size() == 0}">
                        <ul>
                            <li th:if="${p.estado_previo == 'X' || p.estado_previo == null}" th:text="${'SIN PREDIOS ASIGNADOS'}"></li>
                        </ul>
                    </td>
                    <td th:if="${u.estado.toString() == 'S'}" th:text="${'Super Admin'}"></td>
                    <td th:if="${u.estado.toString() == 'A'}" th:text="${'Usuario'}"></td>
                    <td th:if="${u.estado.toString() == 'B'}" th:text="${'Becario'}"></td>
                    <td >
                        <a  class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip"
                            th:attr="onclick='eliminarUsuario(\'' + ${u.id_usuario} + '\', \'' + ${u.persona.nombre} + '\')'"
                            data-placement="top" title="Eliminar">
                            <i class="material-icons">delete</i>
                        </a>
                        <a   type="button" class="btn bg-light-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" 
                            th:attr="onclick='cargarFormulario(\'' + ${u.id_usuario} + '\')'"
                            data-placement="top" title="Editar">
                            <i class="material-icons">create</i>
                        </a>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <th>N°</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                    <th>Persona</th>
                    <th>Predios Asignados</th>
                    <th>Rol</th>
                    <th>Operación</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script src="../../../../js/pages/tables/jquery-datatable.js"></script>
 <!-- SweetAlert Plugin Js -->
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
