<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layaut/layaut :: head">

</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por Favor Espera...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav th:replace="layaut/layaut :: nav">  </nav>
    <!-- #Top Bar -->
    <section th:replace="layaut/layaut :: menu"></section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    AGREGAR PERSONA
                </h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div th:replace="layaut/layaut :: alert"></div>
                            <div class="alert alert-danger text-center">
                                <strong>DATOS PERSONA</strong>
                            </div>
                            <form action="../../../../hardware-servicio/add_persona" method="POST">
                                <label >NOMBRES</label>
                                <input type="hidden" name="id_persona" th:field="${persona.id_persona}">
                                <input type="hidden" name="cod_funcionario" th:field="${persona.cod_funcionario}">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="nombre" th:field="${persona.nombre}" class="form-control" required>
                                    </div>
                                </div>
                                <label >APELLIDO PATERNO</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="ap_paterno" th:field="${persona.ap_paterno}" class="form-control" >
                                    </div>
                                </div>
                                <label >APELLIDO MATERNO  </label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="ap_materno" th:field="${persona.ap_materno}" class="form-control" >
                                    </div>
                                </div>
                                <label >CARNET DE IDENTIDAD (CI)  </label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="ci" th:field="${persona.ci}" class="form-control" required>
                                    </div>
                                </div>
                                <label for="password">CELULAR  </label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="number" name="celular" th:field="${persona.celular}" class="form-control" >
                                    </div>
                                </div>
                                <div class="alert alert-danger text-center">
                                    <strong>UNIDAD FUNCIONAL</strong>
                                </div>
                                <div>
                                    <select name="id_unidad" style="width: 100%" id="s2" class="js-states form-control" required>
                                        <option selected disable hidden ></option>
                                        <th:block th:each="u : ${unidades}">
                                            <th:block th:if="${persona.unidad != null}">
                                            <option th:if="${persona.unidad.id_unidad != u.id_unidad}" th:value="${u.id_unidad}" th:text="${u.unidad}"></option>
                                            <option th:if="${persona.unidad.id_unidad == u.id_unidad}" th:value="${u.id_unidad}" th:text="${u.unidad}" selected></option>
                                            </th:block>
                                            <th:block th:if="${persona.unidad == null}">
                                            <option th:value="${u.id_unidad}" th:text="${u.unidad}"></option>
                                            </th:block>
                                        </th:block>
                                    </select>
                                </div>
                                <br>
                                <div class="alert alert-danger text-center">
                                    <strong>CARGO</strong>
                                </div>
                                <div>
                                    <select name="id_cargo" style="width: 100%" id="s1" class="js-states form-control"  required>
                                        <option selected disable hidden ></option>
                                        <th:block th:each="c : ${cargos}">
                                            <th:block th:if="${persona.cargo != null}">
                                            <option th:if="${persona.cargo.id_cargo != c.id_cargo }"  th:value="${c.id_cargo}" th:text="${c.cargo}"></option>
                                            <option th:if="${persona.cargo.id_cargo == c.id_cargo }" th:value="${c.id_cargo}" th:text="${c.cargo}" selected></option>
                                            </th:block>
                                            <th:block th:if="${persona.cargo == null}">
                                            <option th:value="${c.id_cargo}" th:text="${c.cargo}"></option>
                                            </th:block>
                                        </th:block>
                                    </select>
                                </div>
                                <br>
                                <br><button type="submit" class="btn btn-primary m-t-15 waves-effect">ENVIAR</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
 
    <script src="../../../../js/api.js"></script>
    <!-- Jquery Core Js -->
    <script src="../../../../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../../../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../../../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="../../../../plugins/bootstrap-notify/bootstrap-notify.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../../../plugins/node-waves/waves.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="../../../../plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="../../../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- Custom Js -->
    <script src="../../../../js/admin.js"></script>
    <script src="../../../../js/pages/tables/jquery-datatable.js"></script>
    <script src="../../../../js/pages/ui/modals.js"></script>

    <!-- Demo Js -->
    <script src="../../../../js/demo.js"></script>

    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
       $("#s1").select2({
           placeholder: "Seleccione...",
           allowClear: true
       });
       $("#s2").select2({
        placeholder: "Seleccione...",
        allowClear: true
    });
    </script>
</body>
</html>