<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head> </head>

<body>
  <div th:fragment="content1">
    <label>TIPO EQUIPO</label>
    <div class="form-line">
      <a type="button" class="btn bg-red btn-block btn-lg waves-effect" disable>
        <i class="material-icons" style="font-size: 50px !important" th:text="${almacen.tipoEquipo.icono}"></i><br />
        <span th:text="${almacen.tipoEquipo.equipo}"></span>
      </a>
    </div>
    <br />
    <label>DESCRIPCIÓN DEL EQUIPO</label>
    <div class="form-group">
      <div class="form-line">
        <textarea th:field="${almacen.descripcion}" type="text" rows="3" class="form-control no-resize"
          disabled></textarea>
      </div>
    </div>
  </div>

  <div th:fragment="content2">
    <h3>Tabla de Activos Seleccionados</h3>
    <div class="body table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>TIPO DE EQUIPO</th>
            <th>COD ACTIVO</th>
            <th>DESCRIPCION</th>
            <th>SELECCIONE FALLAS</th>
            <th>OPCION</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="a, cont : ${activos_selec}" th:if="${a.estado != 'X' && a.estado != 'B'}" th:id="${'fila_'+ a.id_almacen}">
  
            <td th:text="${cont.count}"></td>
            <td width="75px">
              <a type="button" class="btn bg-indigo waves-effect" disable>
                <i class="material-icons" style="font-size: 20px !important" th:text="${a.tipoEquipo.icono}"></i><br />
                <span th:text="${a.tipoEquipo.equipo}"></span>
              </a>
            </td>
            <td th:text="${a.cod_equipo}"></td>
            <td th:text="${a.descripcion}"></td>
            <td width="900px" >
              <div class="demo-checkbox col-6">
                <th:block th:each="fe : ${a.tipoEquipo.fallaEquipoBajas}" th:if="${fe.estado_fallaEquipoBaja != 'X'}">
                  <input th:name="${'id_fallaBaja_'+a.id_almacen}" th:value="${fe.fallaBaja.id_fallaBaja}" type="checkbox"
                    th:id="${a.id_almacen+'_'+fe.fallaBaja.id_fallaBaja}" class="filled-in chk-col-red" />
                  <label th:text="${fe.fallaBaja.nom_fallaBaja}" th:for="${a.id_almacen+'_'+fe.fallaBaja.id_fallaBaja}">RED</label>
                </th:block>
              </div>
            </td>
            <td width="20px" >
              <button type="button" class="btn btn-danger waves-effect" th:attr="onclick=${'eliminarFila(' + a.id_almacen + ')'}">
                <i class="material-icons">close</i>
                <span>ELIMINAR</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div th:fragment="content3">
    <div class="body table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>NOMBRE COMPLETO</th>
            <th>CI</th>
            <th>CARGO</th>
            <th>UNIDAD FUNCIONAL</th>
            <th>SELECCIONE</th>
          </tr>
        </thead>
        <tbody style="text-transform:uppercase;">
          <tr th:each="p, cont : ${personas}" th:if="${p.estado != 'X'}">
          
            <td th:text="${cont.count}"></td>
            <td  th:text="${p.nombre+' '+p.ap_paterno+' '+p.ap_materno}">
            </td>
            <td th:text="${p.ci}"></td>
            <td th:text="${p.cargo.cargo}"></td>
            <td th:if="${p.unidad != null}" th:text="${p.unidad.unidad}"></td>
            <td>
              <form action="../../../../hardware/verificar" method="POST">
                <input type="hidden" name="id_persona" th:value="${p.id_persona}">
                <input type="hidden" th:field="${tipoEquipo.id_tipoequipo}">
                <button type="submit" class="btn btn-success waves-effect">
                  <i class="material-icons">check</i>
                  <span>Seleccionar</span>
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div th:fragment ="content4">
    <div class="body table-responsive ">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="100px">TIPO DE EQUIPO</th>
            <th>COD ACTIVO</th>
            <th>DESCRIPCION</th>
            <th>OPCION</th>
          </tr>
        </thead>
        <tbody style="text-transform:uppercase;">
          <tr th:each="a, cont : ${Activos_S}" th:if="${a.estado != 'X'}">
          
            <td>
              <a type="button" class="btn bg-indigo waves-effect" disable>
                <i class="material-icons" style="font-size: 20px !important" th:text="${a.tipoEquipo.icono}"></i><br />
                <span th:text="${a.tipoEquipo.equipo}"></span>
              </a>
            </td>
            <td th:text="${a.cod_equipo}"></td>
            <td th:text="${a.descripcion}"></td>
            <td>
                <button type="button" class="btn btn-success waves-effect" th:attr="onclick=${'buscar_Activos(' + a.id_almacen + ')'}">
                  <i class="material-icons">check</i>
                  <span>AGREGAR</span>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
