<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layaut/layaut :: head"></head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por Favor Espera...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav th:replace="layaut/layaut :: nav">  </nav>
    <!-- #Top Bar -->
    <section th:replace="layaut/layaut :: menu"></section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    HISTORIAL DE SERVICIOS
                </h2>
            </div>
            <!-- #END# Basic Examples -->
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>Solicitante</th>
                                            <th>Fecha Recepcion</th>
                                            <th>Fecha Entrega</th>
                                            <th>Fallas</th>
                                            <th>Colaboradores</th>
                                            <th>Estado</th>                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Solicitante</th>
                                            <th>Fecha Recepcion</th>
                                            <th>Fecha Entrega</th>
                                            <th>Fallas</th>
                                            <th>Colaboradores</th>
                                            <th>Estado</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="ser : ${servicios}" th:if="${ser.estado != null}">                   
                                            <td th:text="${ser.persona.nombre+' '+ser.persona.ap_paterno+' '+ser.persona.ap_materno}"></td>
                                            <td th:text="${#dates.format(ser.fecha_recepcion, 'dd MMMM yyyy')}"></td>
                                            <td th:if="${ser.fecha_entrega != null}" th:text="${#dates.format(ser.fecha_entrega, 'dd MMMM yyyy')}"></td>
                                            <td th:if="${ser.fecha_entrega == null}"></td>
                                            <td> 
                                                <th:block th:each="det : ${ser.detalleFallas}">
                                                    <ul>
                                                        <li th:text="${det.falla.falla}">   
                                                        </li>
                                                    </ul>
                                                </th:block> 
                                            </td>
                                            <td>
                                                <th:block th:each="col : ${ser.colaboradores}">
                                                    <span th:if="${col.estado == 'A'}" class="label bg-green" th:text="${col.persona.nombre +' '+col.persona.ap_paterno +' '+ col.persona.ap_materno}" >
                                                    </span>
                                                    <span th:if="${col.estado == 'B'}" class="label bg-blue" th:text="${col.persona.nombre +' '+col.persona.ap_paterno +' '+ col.persona.ap_materno}" >
                                                    </span>
                                                    </th:block> 
                                            </td>
                                            <td >
                                                <button th:if="${ser.estado == 'P'}" type="button"  class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="En Epera">
                                                    <i class="material-icons">report_problem</i>
                                                </button>
                                                <button th:if="${ser.estado == 'A' || ser.estado == 'B'}" type="button" class="btn bg-yellow btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="En Proceso">
                                                    <i class="material-icons">settings</i>
                                                </button>
                                                <button th:if="${ser.estado == 'T'}" type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Terminado">
                                                    <i class="material-icons">done</i>
                                                </button>
                                            </td>
                                        </tr>                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
    </section>


    
    <!-- Jquery Core Js -->
    <script src="../../../../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../../../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../../../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="../../../../plugins/bootstrap-notify/bootstrap-notify.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../../../plugins/node-waves/waves.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="../../../../plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="../../../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- Custom Js -->
    <script src="../../../../js/admin.js"></script>
    <script src="../../../../js/pages/tables/jquery-datatable.js"></script>
    <script src="../../../../js/pages/ui/modals.js"></script>

    <!-- Demo Js -->
    <script src="../../../../js/demo.js"></script>

    <script>
        function directo(id_servicio,aux) {
            var id_s = id_servicio;
           
            $("#Modal").modal("show");  
                 
            for(var i=0 ; i<aux ; i++){
                $("#id_servicio"+i).val(id_s);
            }
        }
     </script>
</body>

</html>