<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layaut/layaut :: head">

    
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por Favor Espera...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav th:replace="layaut/layaut :: nav">  </nav>
    <!-- #Top Bar -->
    <section th:replace="layaut/layaut :: menu"></section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    INFORME TÉCNICO DE BAJA
                </h2>
            </div>
            <!-- #END# Basic Examples -->
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <form action="../../../../hardware-servicio/add_informe_baja" id="formularioInformeBaja" method="POST">
                                
                                <div class="body">
                                    <div class="form-group demo-tagsinput-area">
                                        <input type="hidden" th:name="${'id_usuario'}" th:value="${session.usuario.id_usuario}">
                                        <input type="hidden" th:field="${baja.id_baja}">
                                        <div class="alert alert-danger text-center">
                                            <strong>DIRIGIDO A: </strong>
                                        </div>
                                        <div>
                                            <select name="id_persona" style="width: 100%" id="s2" class="js-states form-control" required>
                                                <option selected disable hidden></option>
                                                <th:block th:each="p : ${personas}" th:if="${p.estado != 'X'}">
                                            
                                                    <th:block th:if="${baja.persona == null}">

                                                        <option th:value="${p.id_persona}" th:text="${p.nombre+' '+p.ap_paterno+' '+p.ap_materno}"></option>
                                                       
                                                    </th:block>
                                            
                                                    <th:block th:if="${baja.persona != null}">

                                                        <option th:if="${baja.persona.id_persona != p.id_persona}" th:value="${p.id_persona}"
                                                            th:text="${p.nombre+' '+p.ap_paterno+' '+p.ap_materno}" >
                                                        </option>
                                                        <option th:if="${baja.persona.id_persona == p.id_persona}" th:value="${p.id_persona}"
                                                            th:text="${p.nombre+' '+p.ap_paterno+' '+p.ap_materno}" selected>
                                                        </option>

                                                    </th:block>
                                                </th:block>
                                            </select>
                                        </div>
                                        <h2 class="card-inside-title">CITE : </h2>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <textarea type="text" rows="1" th:field="${baja.cite}" class="form-control no-resize"
                                                            placeholder="Descripcion..." style="text-transform:uppercase"
                                                            required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h2 class="card-inside-title">REF. : </h2>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <textarea type="text" rows="1" th:field="${baja.ref_baja}" class="form-control no-resize"
                                                            placeholder="Descripcion..." style="text-transform:uppercase"
                                                            required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h2 class="card-inside-title">RECOMENDACIÓN : </h2>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <textarea type="text" rows="5" th:field="${baja.recomendacion_baja}"
                                                            class="form-control no-resize" style="text-transform:uppercase" placeholder="Descripcion..."
                                                            required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h2 class="card-inside-title">OBSERVACION : </h2>
                                        <div class="demo-radio-button">
                                            <th:block th:if="${baja.observacion_baja == null}">
                                                <input name="observacion_baja" type="radio" id="radio_7" class="radio-col-red" value="PARA BAJA" />
                                                <label for="radio_7">PARA BAJA</label>
                                                <input name="observacion_baja" type="radio" id="radio_8" class="radio-col-red" value="PARA DEVOLUCIÓN" />
                                                <label for="radio_8">PARA DEVOLUCIÓN</label>
                                            </th:block>
                                            <th:block th:if="${baja.observacion_baja != null}">
                                                <input type="radio" name="observacion_baja" id="radio_7" class="radio-col-red" th:value="'PARA BAJA'"
                                                    th:checked="${baja.observacion_baja == 'PARA BAJA'}" />
                                                <label for="radio_7">PARA BAJA</label>
                                            
                                                <input type="radio" name="observacion_baja" id="radio_8" class="radio-col-red" th:value="'PARA DEVOLUCIÓN'"
                                                    th:checked="${baja.observacion_baja == 'PARA DEVOLUCIÓN'}" />
                                                <label for="radio_8">PARA DEVOLUCIÓN</label>
                                            </th:block>
                                            
                                        </div>
                                        <br>
                                        <div th:if="${baja.detalleBajas != null and not #lists.isEmpty(baja.detalleBajas)}">
                                            <div class="alert alert-danger text-center">
                                                <strong>ACTIVOS SELECCIONADOS: </strong>
                                            </div>
                                            <div class="body table-responsive">
                                                <table class="table table-hover">
                                                    <thead class="text-center">
                                                        <tr >
                                                            <th>N°</th>
                                                            <th>TIPO DE EQUIPO</th>
                                                            <th>COD ACTIVO</th>
                                                            <th>DESCRIPCIÓN</th>
                                                            <th>FALLAS SELECCIONADAS</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="a, cont : ${baja.detalleBajas}" th:if="${a.estado_detalleBaja == 'X'}">
                                        
                                                            <td th:text="${cont.count}"></td>
                                                            <td>
                                                                <a type="button" class="btn bg-red btn-check btn-lg waves-effect" disable>
                                                                    <i class="material-icons" style="font-size: 15px !important"
                                                                        th:text="${a.almacen.tipoEquipo.icono}"></i><br />
                                                                    <span th:text="${a.almacen.tipoEquipo.equipo}"></span>
                                                                </a>
                                                            </td>
                                                            <td th:text="${a.almacen.cod_equipo}"></td>
                                                            <td th:text="${a.almacen.descripcion}"></td>
                                                            <td>
                                                                <div class="demo-checkbox">
                                                                    <th:block th:each="dab : ${a.detalleAlmacenFallaBajas}" th:if="${dab.estado_detalleAlmacenFallaBaja == 'X'}">
                                                                        <li class="col-12" style="text-transform: uppercase;" th:text="${dab.fallaBaja.nom_fallaBaja}">
                                                                        </li>
                                                                    </th:block>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="alert alert-danger text-center">
                                            <strong>SELECCIONE ACTIVOS: </strong>
                                        </div>
                                        <h2 class="card-inside-title">INGRESE CODIGO UAP: </h2>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" rows="3"   class="form-control no-resize" placeholder="Ej: UAP-123456789 o 148-05-10-12345"
                                                            name="id_Almacen" ></input>
                                                        <input type="hidden" name="id_almacen" id="vectorInput">
                                                    </div>
                                                    <div id="replace_div2">

                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div>
                                            <!-- <select multiple name="id_almacen" class="form-control" id="id_Almacen" onchange="buscar_Activos()" required>
                                                <optgroup th:each="a : ${activos}" th:if="${a.estado != 'X' && a.estado != 'B'}" th:label="${a.tipoEquipo.equipo}">
                                                    <option th:value="${a.id_almacen}" th:text="${a.cod_equipo}">Alaska</option>
                                                </optgroup>
                                            </select> -->
                                            <br>
                                            <div id="replace_div">
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><button type="submit" class="btn btn-primary m-t-15 waves-effect">ENVIAR</button>
                            </form>                           
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <div th:replace="layaut/layaut :: modal_color"></div>

    </section>

    <script>
        document.querySelector('input[name="id_Almacen"]').addEventListener('keyup', function () {
            // Obtiene el valor del input
            var valor = this.value;
            // Obtiene el valor del input oculto
           
            // Crea la URL de la solicitud
            var url = "../../../../hardware-servicio/obtener_activos/" + valor;

            // Carga el contenido en el elemento con id 'replace_div'
            $('#replace_div2').load(url);
        });
    </script>
    
    <script>
        // Definir un vector para almacenar los valores de id_almacen
        var id_almacen_vector = [];
    
        function buscar_Activos(id) {
            // Obtener el valor del input id
            var id_almacen = id;
            // Agregar el id_almacen al vector
            id_almacen_vector.push(id_almacen);
            // Llamar a la función getContent con el vector como parámetro
            getContent(id_almacen_vector);

        }

        function getContent(ids) {
            // Crear una URL con los valores del vector como parámetros de consulta
            var url = "../../../../hardware-servicio/activos?selectedValues=" + ids.join(',');
    
            $('#vectorInput').val(JSON.stringify(ids));
            // Llamar a la función load con la URL construida
            $('#replace_div').load(url);
        }

        function eliminarFila(id) {
        // Encontrar el índice del ID en el vector
        var index = id_almacen_vector.indexOf(id);

        // Verificar si el ID existe en el vector
        if (index !== -1) {
            // Eliminar el ID del vector
            id_almacen_vector.splice(index, 1);
        }
        // Llamar a la función getContent con el vector actualizado como parámetro
        getContent(id_almacen_vector);
    }
    </script>

    <script>
    $(document).ready(function() {
        // Captura el evento de cambio en los campos de entrada
        $('textarea').on('change', function() {
            // Convierte el valor a mayúsculas antes de enviarlo
            var textoEnMayusculas = $(this).val().toUpperCase();
            $(this).val(textoEnMayusculas);
        });
    });
    </script>

    <script th:replace="layaut/layaut :: script_modal_persona"></script>

    <!-- Jquery Core Js -->
    <script src="../../../../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../../../plugins/bootstrap/js/bootstrap.js"></script>
        
    <!-- Select Plugin Js -->
    <script src="../../../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Colorpicker Js -->
    <script src="../../../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    <!-- Dropzone Plugin Js -->
    <script src="../../../../plugins/dropzone/dropzone.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="../../../../plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="../../../../plugins/multi-select/js/jquery.multi-select.js"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="../../../../plugins/jquery-spinner/js/jquery.spinner.js"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="../../../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- noUISlider Plugin Js -->
    <script src="../../../../plugins/nouislider/nouislider.js"></script>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="../../../../plugins/bootstrap-notify/bootstrap-notify.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../../../plugins/node-waves/waves.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="../../../../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="../../../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

     <!-- Autosize Plugin Js -->
     <script src="../../../../plugins/autosize/autosize.js"></script>

     <!-- Moment Plugin Js -->
     <script src="../../../../plugins/momentjs/moment.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="../../../../plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="../../../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- Custom Js -->
    <script src="../../../../js/admin.js"></script>
    <script src="../../../../js/pages/tables/jquery-datatable.js"></script>
    <script src="../../../../js/pages/ui/modals.js"></script>
    <script src="../../../../js/pages/forms/advanced-form-elements.js"></script>

    <!-- Demo Js -->
    <script src="../../../../js/demo.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script>
        $("#s2").select2({
            placeholder: "Seleccione Persona...",
            allowClear: true
        });
        
    </script>
 
</body>

</html>