<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layaut/layaut :: head"></head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por Favor Espera...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav th:replace="layaut/layaut :: nav">  </nav>
    <!-- #Top Bar -->
    <section th:replace="layaut/layaut :: menu"></section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    INFORME TÉCNICO
                </h2>
            </div>
            <!-- #END# Basic Examples -->
            <!-- Exportable Table -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <form action="../../../../hardware-servicio/add_informe" method="POST">
                                <!--<input type="hidden" name="id_detalleSolucion" th:value="${detalleSolucion.id_detalleSolucion}">-->
                                <th:block th:if="${servicio.detalleSolucions.size() > 0}">
                                    <h2 class="card-inside-title">SERVICIOS REALIZADOS CHECKEADOS</h2>
                                    <div class="demo-checkbox">
                                
                                        <th:block th:each="se : ${tipoequipo.solucionEquipos}" th:if="${se.estado != 'X'}">
                                
                                            <th:block th:each="ds : ${servicio.detalleSolucions}" th:if="${ds.estado == 'A'}">
                                
                                
                                                <input th:if="${ds.solucion.id_solucion == se.solucion.id_solucion}" 
                                                    th:value="${se.solucion.id_solucion}" type="checkbox" class="filled-in chk-col-red" checked
                                                    disabled />
                                                <label th:if="${ds.solucion.id_solucion == se.solucion.id_solucion}"
                                                    th:text="${se.solucion.solucion}"></label>
                                
                                            </th:block>
                                                                
                                        </th:block>
                                
                                    </div>
                                </th:block>

                                <h2 class="card-inside-title">SERVICIOS REALIZADOS</h2>
                                <div class="demo-checkbox">
                                
                                    <th:block th:each="se : ${tipoequipo.solucionEquipos}" th:if="${se.estado != 'X'}">
                                
                                        <input name="id_solucion" th:value="${se.solucion.id_solucion}" th:id="${se.solucion.id_solucion}"
                                            type="checkbox" class="filled-in chk-col-red" />
                                        <label th:text="${se.solucion.solucion}" th:for="${se.solucion.id_solucion}"></label>
                                
                                    </th:block>
                                
                                </div>
                                
                                <h2 class="card-inside-title">OBSERVACIONES</h2>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <textarea type="text" rows="2" style="text-transform:uppercase;" th:field="${servicio.observacion}"  class="form-control no-resize" placeholder="Descripcion..." required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <h2 class="card-inside-title">CONCLUCIÓN</h2>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="hidden" th:field="${servicio.id_servicio}" >
                                                <textarea type="text" rows="2" style="text-transform:uppercase;" th:field="${servicio.conclucion}"  class="form-control no-resize" placeholder="Descripción..." required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="card-inside-title">RECOMENDACIÓN</h2>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <textarea type="text" rows="2" style="text-transform:uppercase;" th:field="${servicio.recomendacion}" class="form-control no-resize" placeholder="Descripcion..." required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
       
                                <br><button type="submit" class="btn btn-primary m-t-15 waves-effect">ENVIAR</button>
                                    
                            </form>                           
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </section>
    
    <!-- Jquery Core Js -->
    <script src="../../../../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../../../plugins/bootstrap/js/bootstrap.js"></script>
        
    <!-- Select Plugin Js -->
    <script src="../../../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Colorpicker Js -->
    <script src="../../../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    <!-- Dropzone Plugin Js -->
    <script src="../../../../plugins/dropzone/dropzone.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="../../../../plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="../../../../plugins/multi-select/js/jquery.multi-select.js"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="../../../../plugins/jquery-spinner/js/jquery.spinner.js"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="../../../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- noUISlider Plugin Js -->
    <script src="../../../../plugins/nouislider/nouislider.js"></script>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="../../../../plugins/bootstrap-notify/bootstrap-notify.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../../../plugins/node-waves/waves.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="../../../../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="../../../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

     <!-- Autosize Plugin Js -->
     <script src="../../../../plugins/autosize/autosize.js"></script>

     <!-- Moment Plugin Js -->
     <script src="../../../../plugins/momentjs/moment.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="../../../../plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="../../../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- Custom Js -->
    <script src="../../../../js/admin.js"></script>
    <script src="../../../../js/pages/tables/jquery-datatable.js"></script>
    <script src="../../../../js/pages/ui/modals.js"></script>
    <script src="../../../../js/pages/forms/advanced-form-elements.js"></script>

    <!-- Demo Js -->
    <script src="../../../../js/demo.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="../../../../plugins/multi-select/js/jquery.multi-select.js"></script>

        
</body>

</html>