<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layaut/layaut :: head"></head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por Favor Espera...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav th:replace="layaut/layaut :: nav">  </nav>
    <!-- #Top Bar -->
    <section th:replace="layaut/layaut :: menu"></section>

    <section class="content">
        <div class="container-fluid">
            <th:block th:each="pr : ${previos}">
                <div class="block-header">
                    <h2 th:text="${pr.procedencia.procedencia}">
                    </h2>
                </div>
            
                <!-- #END# Basic Examples -->
                <!-- Exportable Table -->
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    LISTA DE SERVICIOS EN ESPERA (PENDIENTES)
                                </h2>
                            </div>
                            <div class="body">
                                <!-- <div th:replace="layaut/layaut :: alert"></div> -->
                                <div class="table-responsive">
                                    <br>
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="miTabla">
                                        <thead>
                                            <tr>
                                                <th width="1%">Est</th>
                                                <th width="1%">Codigo Servicio</th>
                                                <th width="10%">Nombre Solicitante</th>
                                                <th width="10%">Unidad Funcional</th>
                                                <th width="5%">Codigo De Equipo</th>
                                                <th width="5%">Tipo Equipo</th>
                                                <th width="10%">Estado de Equipo</th>
                                                <th width="5%">Fecha Registro</th>
                                                <!-- <th width="5%">Colaborador</th>
                                                <th width="5%">Administrador</th> -->
                                                <th width="5%">Operación</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <tr th:each="ser, num : ${pr.procedencia.servicios}" th:if="${ser.estado != null && ser.estado == 'P'}">
                                                
                                                <td>
                                                    <!-- <a th:if="${ser.estado == 'P'}" th:href="${'../../../../hardware-servicio/aceptar_servicio/' + ser.id_servicio}" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="En Espera">
                                                        <i class="material-icons">report_problem</i>
                                                    </a> -->
                                                    <button th:if="${ser.estado == 'P'}" th:attr="onclick=${'tipoServicio(' + ser.id_servicio + ' , '+ tipoServicios.size() +')'}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#exampleModal2" title="Aceptar Servicio">
                                                        <i class="material-icons">report</i>
                                                    </button>
                                                    <a th:if="${ser.estado == 'A'|| ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" type="button" class="btn bg-yellow btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="En Proceso">
                                                        <i class="material-icons">settings</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'T' }" type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Terminado" disable>
                                                        <i class="material-icons">done</i>
                                                    </a>
                                                </td>
                                                <td th:text="${'N°'+ser.id_servicio}"></td>
                                                <td th:text="${ser.persona.nombre + ' ' + ser.persona.ap_paterno + ' ' + ser.persona.ap_materno}"></td>
                                                <td th:text="${ser.persona.unidad.unidad}"> </td>
                                                <td th:text="${ser.almacen.cod_equipo}"></td>
                                                <td th:text="${ser.tipoEquipo.equipo}"></td>
                                                <td >
                                                    <th:block th:each="det : ${ser.detalleFallas}">
                                                        <ul >
                                                            <li th:text="${det.falla.falla}">   
                                                            </li>
                                                        </ul>
                                                    </th:block>
                                                </td>
                                                <td th:text="${#dates.format(ser.fecha_recepcion, 'dd/MM/yyyy')}"></td>
                                                <!-- <td >
                                                    <th:block th:each="col : ${ser.colaboradores}">
                                                    <span th:if="${col.estado == 'A'}" class="label bg-green" th:text="${col.persona.nombre +' '+col.persona.ap_paterno +' '+ col.persona.ap_materno}" >
                                                    </span>
                                                    <span th:if="${col.estado == 'B'}" class="label bg-blue" th:text="${col.persona.nombre +' '+col.persona.ap_paterno +' '+ col.persona.ap_materno}" >
                                                    </span>
                                                    </th:block>
                                                </td> -->
                                                <!-- <td>
                                                    
                                                    <a th:href="${'../../../../hardware-servicio/ficha-tecnica/' + ser.id_servicio}" target="_blank" th:if="${ser.estado == 'A' || ser.estado == 'T' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Imprimir Ficha">
                                                        <i class="material-icons">print</i>
                                                    </a>
                                                    <button th:if="${ser.estado == 'A' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" th:attr="onclick=${'directo(' + ser.id_servicio + ' , '+ usuarios.size() +')'}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#exampleModal" title="Añadir Colaborador">
                                                        <i class="material-icons">person_add</i>
                                                    </button>
                                                    <a th:if="${ser.estado == 'T' || ser.estado == 'B' && ser.persona.celular != null }"  th:href="${'https://api.whatsapp.com/send?phone=+591'+ser.persona.celular+'&text=Unidad%20de%20Sistemas%20de%20Informaci%C3%B3n%20y%20Comunicaci%C3%B3n%20SISEMAH'}" target="_blank" type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Enviar Whatsapp">
                                                        <i class="material-icons">call</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'A' }" th:href="${'../../../../hardware-servicio/informe_tecnico/' + ser.id_servicio}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Correctivo">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'AS' }" th:href="${'../../../../hardware-servicio/informe_soporte_tec/' + ser.id_servicio}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Soporte">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'AP' }" th:href="${'../../../../hardware-servicio/informe_preventivo/' + ser.id_servicio}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Preventivo">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'B' || ser.estado == 'T' }" th:href="${'../../../../hardware-servicio/editar-informe_tecnico/' + ser.id_servicio}" type="button" class="btn bg-orange btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Editar Informe">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                </td> -->
                                                <td >
                                                    <!-- <a th:if="${ser.estado == 'P' || ser.estado == 'A' || ser.estado == 'T' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" th:href="${'../../../../hardware-servicio/historial_servicio/' + ser.almacen.id_almacen}" type="button" class="btn bg-deep-orange btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Historial">
                                                        <i class="material-icons">restore</i>
                                                    </a> -->
                                        
                                                    <a th:href="${'../../../../hardware-servicio/eliminar_servicio/'+ ser.id_servicio}" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                        <i class="material-icons">delete</i>
                                                    </a>

                                                    <a th:href="${'../../../../hardware-servicio/editar-servicio/'+ ser.id_servicio}"  type="button" class="btn bg-light-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Editar">
                                                        <i class="material-icons">create</i>
                                                    </a>

                                                    <a th:if="${ser.estado == 'A' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" th:href="${'../../../../hardware-servicio/terminar_servicio/'+ser.id_servicio}" type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Terminar Servicio">
                                                        <i class="material-icons">done</i>
                                                    </a>
                                                    
                                                   <!--<a th:if="${ser.estado == 'A'}" th:href="${'../../../../hardware-servicio/informe_tecnico_baja/' + ser.id_servicio}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Baja">
                                                        <i class="material-icons">description</i>
                                                    </a>-->
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <th>Est</th>
                                                <th>Codigo Servicio</th>
                                                <th>Nombre Solicitante</th>
                                                <th>Unidad Funcional</th>
                                                <th>Codigo De Equipo</th>
                                                <th>Tipo Equipo</th>
                                                <th>Estado de Equipo</th>
                                                <th>Fecha Registro</th>
                                                <!-- <th>Colaborador</th>
                                                <th>Administrador</th> -->
                                                <th>Operación</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    LISTA DE SERVICIOS EN PROCESO
                                </h2>
                            </div>
                            <div class="body">
                                <div th:replace="layaut/layaut :: alert"></div>
                                <div class="table-responsive">
                                    <br>
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="miTabla2">
                                        <thead>
                                            <tr>
                                                <th width="1%">Est</th>
                                                <th width="1%">Codigo Servicio</th>
                                                <th width="10%">Nombre Solicitante</th>
                                                <th width="10%">Unidad Funcional</th>
                                                <th width="5%">Codigo De Equipo</th>
                                                <th width="5%">Tipo Equipo</th>
                                                <th width="10%">Estado de Equipo</th>
                                                <th width="5%">Fecha Registro</th>
                                                <th width="5%">Colaborador</th>
                                                <th width="5%">Administrador</th>
                                                <th width="5%">Operación</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <tr th:each="ser, num : ${pr.procedencia.servicios}" th:if="${ser.estado != null && ser.estado == 'A'|| ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}">
                                                
                                                <td>
                                                    <!-- <a th:if="${ser.estado == 'P'}" th:href="${'../../../../hardware-servicio/aceptar_servicio/' + ser.id_servicio}" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="En Espera">
                                                        <i class="material-icons">report_problem</i>
                                                    </a> -->
                                                    <button th:if="${ser.estado == 'P'}" th:attr="onclick=${'tipoServicio(' + ser.id_servicio + ' , '+ tipoServicios.size() +')'}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#exampleModal2" title="Aceptar Servicio">
                                                        <i class="material-icons">report</i>
                                                    </button>
                                                    <a th:if="${ser.estado == 'A'|| ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" type="button" class="btn bg-yellow btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="En Proceso">
                                                        <i class="material-icons">settings</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'T' }" type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Terminado" disable>
                                                        <i class="material-icons">done</i>
                                                    </a>
                                                </td>
                                                <td th:text="${'N°'+ser.id_servicio}"></td>
                                                <td th:text="${ser.persona.nombre + ' ' + ser.persona.ap_paterno + ' ' + ser.persona.ap_materno}"></td>
                                                <td th:text="${ser.persona.unidad.unidad}"> </td>
                                                <td th:text="${ser.almacen.cod_equipo}"></td>
                                                <td th:text="${ser.tipoEquipo.equipo}"></td>
                                                <td >
                                                    <th:block th:each="det : ${ser.detalleFallas}">
                                                        <ul >
                                                            <li th:text="${det.falla.falla}">   
                                                            </li>
                                                        </ul>
                                                    </th:block>
                                                </td>
                                                <td th:text="${#dates.format(ser.fecha_recepcion, 'dd/MM/yyyy')}"></td>
                                                <td >
                                                    <th:block th:each="col : ${ser.colaboradores}">
                                                    <span th:if="${col.estado == 'A'}" class="label bg-green" th:text="${col.persona.nombre +' '+col.persona.ap_paterno +' '+ col.persona.ap_materno}" >
                                                    </span>
                                                    <span th:if="${col.estado == 'B'}" class="label bg-blue" th:text="${col.persona.nombre +' '+col.persona.ap_paterno +' '+ col.persona.ap_materno}" >
                                                    </span>
                                                    </th:block>
                                                </td>
                                                <td>
                                                    
                                                    <a th:href="${'../../../../hardware-servicio/ficha-tecnica/' + ser.id_servicio}" target="_blank" th:if="${ser.estado == 'A' || ser.estado == 'T' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Imprimir Ficha">
                                                        <i class="material-icons">print</i>
                                                    </a>
                                                    <button th:if="${ser.estado == 'A' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" th:attr="onclick=${'directo(' + ser.id_servicio + ' , '+ usuarios.size() +')'}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#exampleModal" title="Añadir Colaborador">
                                                        <i class="material-icons">person_add</i>
                                                    </button>
                                                    <a th:if="${ser.estado == 'T' || ser.estado == 'B' && ser.persona.celular != null }"  th:href="${'https://api.whatsapp.com/send?phone=+591'+ser.persona.celular+'&text=Unidad%20de%20Sistemas%20de%20Informaci%C3%B3n%20y%20Comunicaci%C3%B3n%20SISEMAH'}" target="_blank" type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Enviar Whatsapp">
                                                        <i class="material-icons">call</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'A' }" th:href="${'../../../../hardware-servicio/informe_tecnico/' + ser.id_servicio}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Correctivo">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'AS' }" th:href="${'../../../../hardware-servicio/informe_soporte_tec/' + ser.id_servicio}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Soporte">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'AP' }" th:href="${'../../../../hardware-servicio/informe_preventivo/' + ser.id_servicio}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Preventivo">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                    <!-- <a th:if="${ser.estado == 'B' || ser.estado == 'T' }" th:href="${'../../../../hardware-servicio/editar-informe_tecnico/' + ser.id_servicio}" type="button" class="btn bg-orange btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Editar Informe">
                                                        <i class="material-icons">description</i>
                                                    </a> -->
                                                </td>
                                                <td >
                                                    <a th:if="${ser.estado == 'P' || ser.estado == 'A' || ser.estado == 'T' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" th:href="${'../../../../hardware-servicio/historial_servicio/' + ser.almacen.id_almacen}" type="button" class="btn bg-deep-orange btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Historial">
                                                        <i class="material-icons">restore</i>
                                                    </a>
                                        
                                                    <a th:href="${'../../../../hardware-servicio/eliminar_servicio/'+ ser.id_servicio}" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                        <i class="material-icons">delete</i>
                                                    </a>

                                                    <a th:href="${'../../../../hardware-servicio/editar-servicio/'+ ser.id_servicio}"  type="button" class="btn bg-light-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Editar">
                                                        <i class="material-icons">create</i>
                                                    </a>

                                                    <a th:if="${ser.estado == 'A' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" th:href="${'../../../../hardware-servicio/terminar_servicio/'+ser.id_servicio}" type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Terminar Servicio">
                                                        <i class="material-icons">done</i>
                                                    </a>
                                                    
                                                   <!--<a th:if="${ser.estado == 'A'}" th:href="${'../../../../hardware-servicio/informe_tecnico_baja/' + ser.id_servicio}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Baja">
                                                        <i class="material-icons">description</i>
                                                    </a>-->
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <th>Est</th>
                                                <th>Codigo Servicio</th>
                                                <th>Nombre Solicitante</th>
                                                <th>Unidad Funcional</th>
                                                <th>Codigo De Equipo</th>
                                                <th>Tipo Equipo</th>
                                                <th>Estado de Equipo</th>
                                                <th>Fecha Registro</th>
                                                <th>Colaborador</th>
                                                <th>Administrador</th>
                                                <th>Operación</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    LISTA DE SERVICIOS EN TERMINADOS
                                </h2>
                            </div>
                            <div class="body">
                                <!-- <div th:replace="layaut/layaut :: alert"></div> -->
                                <div class="table-responsive">
                                    <br>
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="miTabla3">
                                        <thead>
                                            <tr>
                                                <th width="1%">Est</th>
                                                <th width="1%">Codigo Servicio</th>
                                                <th width="10%">Nombre Solicitante</th>
                                                <th width="10%">Unidad Funcional</th>
                                                <th width="5%">Codigo De Equipo</th>
                                                <th width="5%">Tipo Equipo</th>
                                                <th width="10%">Estado de Equipo</th>
                                                <th width="5%">Fecha Registro</th>
                                                <th width="5%">Colaborador</th>
                                                <th width="5%">Administrador</th>
                                                <th width="5%">Operación</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <tr th:each="ser, num : ${pr.procedencia.servicios}" th:if="${ser.estado != null && ser.estado == 'T'}">
                                                
                                                <td>
                                                    <!-- <a th:if="${ser.estado == 'P'}" th:href="${'../../../../hardware-servicio/aceptar_servicio/' + ser.id_servicio}" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="En Espera">
                                                        <i class="material-icons">report_problem</i>
                                                    </a> -->
                                                    <button th:if="${ser.estado == 'P'}" th:attr="onclick=${'tipoServicio(' + ser.id_servicio + ' , '+ tipoServicios.size() +')'}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#exampleModal2" title="Aceptar Servicio">
                                                        <i class="material-icons">report</i>
                                                    </button>
                                                    <a th:if="${ser.estado == 'A'|| ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" type="button" class="btn bg-yellow btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="En Proceso">
                                                        <i class="material-icons">settings</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'T' }" type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Terminado" disable>
                                                        <i class="material-icons">done</i>
                                                    </a>
                                                </td>
                                                <td th:text="${'N°'+ser.id_servicio}"></td>
                                                <td th:text="${ser.persona.nombre + ' ' + ser.persona.ap_paterno + ' ' + ser.persona.ap_materno}"></td>
                                                <td th:text="${ser.persona.unidad.unidad}"> </td>
                                                <td th:text="${ser.almacen.cod_equipo}"></td>
                                                <td th:text="${ser.tipoEquipo.equipo}"></td>
                                                <td >
                                                    <th:block th:each="det : ${ser.detalleFallas}">
                                                        <ul >
                                                            <li th:text="${det.falla.falla}">   
                                                            </li>
                                                        </ul>
                                                    </th:block>
                                                </td>
                                                <td th:text="${#dates.format(ser.fecha_recepcion, 'dd/MM/yyyy')}"></td>
                                                <td >
                                                    <th:block th:each="col : ${ser.colaboradores}">
                                                    <span th:if="${col.estado == 'A'}" class="label bg-green" th:text="${col.persona.nombre +' '+col.persona.ap_paterno +' '+ col.persona.ap_materno}" >
                                                    </span>
                                                    <span th:if="${col.estado == 'B'}" class="label bg-blue" th:text="${col.persona.nombre +' '+col.persona.ap_paterno +' '+ col.persona.ap_materno}" >
                                                    </span>
                                                    </th:block>
                                                </td>
                                                <td>
                                                    
                                                    <a th:href="${'../../../../hardware-servicio/ficha-tecnica/' + ser.id_servicio}" target="_blank" th:if="${ser.estado == 'A' || ser.estado == 'T' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Imprimir Ficha">
                                                        <i class="material-icons">print</i>
                                                    </a>
                                                    <button th:if="${ser.estado == 'A' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" th:attr="onclick=${'directo(' + ser.id_servicio + ' , '+ usuarios.size() +')'}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#exampleModal" title="Añadir Colaborador">
                                                        <i class="material-icons">person_add</i>
                                                    </button>
                                                    <a th:if="${ser.estado == 'T' || ser.estado == 'B' && ser.persona.celular != null }"  th:href="${'https://api.whatsapp.com/send?phone=+591'+ser.persona.celular+'&text=Unidad%20de%20Sistemas%20de%20Informaci%C3%B3n%20y%20Comunicaci%C3%B3n%20SISEMAH'}" target="_blank" type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Enviar Whatsapp">
                                                        <i class="material-icons">call</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'A' }" th:href="${'../../../../hardware-servicio/informe_tecnico/' + ser.id_servicio}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Correctivo">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'AS' }" th:href="${'../../../../hardware-servicio/informe_soporte_tec/' + ser.id_servicio}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Soporte">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'AP' }" th:href="${'../../../../hardware-servicio/informe_preventivo/' + ser.id_servicio}" type="button" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Preventivo">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                    <a th:if="${ser.estado == 'B' || ser.estado == 'T' }" th:href="${'../../../../hardware-servicio/editar-informe_tecnico/' + ser.id_servicio}" type="button" class="btn bg-orange btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Editar Informe">
                                                        <i class="material-icons">description</i>
                                                    </a>
                                                </td>
                                                <td >
                                                    <a th:if="${ser.estado == 'P' || ser.estado == 'A' || ser.estado == 'T' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" th:href="${'../../../../hardware-servicio/historial_servicio/' + ser.almacen.id_almacen}" type="button" class="btn bg-deep-orange btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Historial">
                                                        <i class="material-icons">restore</i>
                                                    </a>
                                        
                                                    <a th:href="${'../../../../hardware-servicio/eliminar_servicio/'+ ser.id_servicio}" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                                        <i class="material-icons">delete</i>
                                                    </a>

                                                    <a th:href="${'../../../../hardware-servicio/editar-servicio/'+ ser.id_servicio}"  type="button" class="btn bg-light-blue btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Editar">
                                                        <i class="material-icons">create</i>
                                                    </a>

                                                    <a th:if="${ser.estado == 'A' || ser.estado == 'B' || ser.estado == 'AS' || ser.estado == 'AP'}" th:href="${'../../../../hardware-servicio/terminar_servicio/'+ser.id_servicio}" type="button" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top" title="Terminar Servicio">
                                                        <i class="material-icons">done</i>
                                                    </a>
                                                    
                                                   <!--<a th:if="${ser.estado == 'A'}" th:href="${'../../../../hardware-servicio/informe_tecnico_baja/' + ser.id_servicio}" type="button" class="btn bg-red btn-circle waves-effect waves-circle waves-float" data-toggle="tooltip" data-placement="top"  title="Realizar Informe Baja">
                                                        <i class="material-icons">description</i>
                                                    </a>-->
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <th>Est</th>
                                                <th>Codigo Servicio</th>
                                                <th>Nombre Solicitante</th>
                                                <th>Unidad Funcional</th>
                                                <th>Codigo De Equipo</th>
                                                <th>Tipo Equipo</th>
                                                <th>Estado de Equipo</th>
                                                <th>Fecha Registro</th>
                                                <th>Colaborador</th>
                                                <th>Administrador</th>
                                                <th>Operación</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">AÑADIR COLABORADORES</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="body table-responsive">
                                            <table class="table table-condensed text-center">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th class="text-center">NOMBRE</th>
                                                        <th class="text-center">CARGO</th>
                                                        <th class="text-center">OPERACION</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="i : ${#numbers.sequence(0, usuarios.size()-1)}">
                                                        <td th:text="${usuarios.get(i).persona.nombre +' '+ usuarios.get(i).persona.ap_paterno +' '+ usuarios.get(i).persona.ap_materno}"></td>
                                                        <td th:text="${usuarios.get(i).persona.cargo.cargo}"></td>
                                                        <td>
                                                            <form action="../../../../hardware-servicio/add_colaborador" method="POST">
                                                                <input type="hidden"  th:name="${'id_servicio' + i}" th:id="${'id_servicio' + i}">
                                                                <input type="hidden"  name="aux" id="aux" th:value="${usuarios.size()}">
                                                                <input type="hidden" name="id_persona" id="id_persona" th:value="${usuarios.get(i).persona.id_persona}">
                                                                <button  type="submit" class="btn bg-blue btn-circle waves-effect waves-circle waves-float" title="Añadir">
                                                                    <i class="material-icons">person_add</i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">SELECCIONE EL TIPO DE SERVICIO A REALIZAR</h5>
                                    </div>  
                                    <div class="modal-body">
                                        <div class="body table-responsive">
                                            <table class="table table-condensed text-center">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th class="text-center">SOPORTE TÉCNICO</th>
                                                        <th class="text-center">MANTENIMIENTO PREVENTIVO</th>
                                                        <th class="text-center">MANTENIMIENTO CORRECTIVO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr >
                                                        <td th:each="i : ${#numbers.sequence(0, tipoServicios.size()-1)}" >
                                                            <form action="../../../../hardware-servicio/add_TipoServicio" method="POST">
                                                                <input type="hidden"  th:name="${'id_ser' + i}" th:id="${'id_ser' + i}">
                                                                <input type="hidden"  name="aux" id="aux" th:value="${tipoServicios.size()}">
                                                                <input type="hidden"  name="id_TipoServicio" id="id_TipoServicio" th:value="${tipoServicios.get(i).id_TipoServicio}">
                                                                
                                                                <button type="submit" class="btn bg-deep-purple waves-effect"> <i class="material-icons">settings</i>
                                                                    <span >SELECCIONAR</span>
                                                                </button>
                                                            </form>
                                                        </td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <!-- #END# Exportable Table -->
        </section>
       
    
    <!-- Jquery Core Js -->
    <script src="../../../../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../../../plugins/bootstrap/js/bootstrap.js"></script>
        
    <!-- Select Plugin Js -->
    <script src="../../../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Colorpicker Js -->
    <script src="../../../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    <!-- Dropzone Plugin Js -->
    <script src="../../../../plugins/dropzone/dropzone.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="../../../../plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="../../../../plugins/multi-select/js/jquery.multi-select.js"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="../../../../plugins/jquery-spinner/js/jquery.spinner.js"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="../../../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- noUISlider Plugin Js -->
    <script src="../../../../plugins/nouislider/nouislider.js"></script>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="../../../../plugins/bootstrap-notify/bootstrap-notify.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../../../plugins/node-waves/waves.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="../../../../plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="../../../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <!-- Autosize Plugin Js -->
    <script src="../../../../plugins/autosize/autosize.js"></script>

    <!-- Moment Plugin Js -->
    <script src="../../../../plugins/momentjs/moment.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="../../../../plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="../../../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="../../../../plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- Morris Plugin Js -->
    <script src="../../../../plugins/raphael/raphael.min.js"></script>
    <script src="../../../../plugins/morrisjs/morris.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="../../../../plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="../../../../plugins/flot-charts/jquery.flot.js"></script>
    <script src="../../../../plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="../../../../plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="../../../../plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="../../../../plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Custom Js -->
    <script src="../../../../js/admin.js"></script>
    <script src="../../../../js/pages/tables/jquery-datatable.js"></script>
    <script src="../../../../js/pages/ui/modals.js"></script>
    <script src="../../../../js/pages/forms/advanced-form-elements.js"></script>
    <script src="../../../../js/pages/index.js"></script>

    <!-- Demo Js -->
    <script src="../../../../js/demo.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="../../../../plugins/multi-select/js/jquery.multi-select.js"></script>

    <script>
        function directo(id_servicio,aux) {
            var id_s = id_servicio;
           
            $("#Modal").modal("show");  
                 
            for(var i=0 ; i<aux ; i++){
                $("#id_servicio"+i).val(id_s);
            }
        }
    </script>
    <script>
        function tipoServicio(id_servicio,aux) {
            var id_s = id_servicio;
           
            $("#Modal").modal("show");  
                 
            for(var i=0 ; i<aux ; i++){
                $("#id_ser"+i).val(id_s);
            }
        }
    </script>
    <script>
        // Obtén el elemento <tbody>
        var tbody = document.getElementById("miTabla2").getElementsByTagName('tbody')[0];
    
        // Convierte las filas en una matriz (Array)
        var rows = Array.prototype.slice.call(tbody.rows);
    
        // Invierte el orden de las filas
        rows.reverse();
    
        // Elimina todas las filas existentes del <tbody>
        while (tbody.firstChild) {
            tbody.removeChild(tbody.firstChild);
        }
    
        // Agrega las filas en el orden invertido al <tbody>
        rows.forEach(function(row) {
            tbody.appendChild(row);
        });
    </script>
    <script>
        // Obtén el elemento <tbody>
        var tbody = document.getElementById("miTabla3").getElementsByTagName('tbody')[0];
    
        // Convierte las filas en una matriz (Array)
        var rows = Array.prototype.slice.call(tbody.rows);
    
        // Invierte el orden de las filas
        rows.reverse();
    
        // Elimina todas las filas existentes del <tbody>
        while (tbody.firstChild) {
            tbody.removeChild(tbody.firstChild);
        }
    
        // Agrega las filas en el orden invertido al <tbody>
        rows.forEach(function(row) {
            tbody.appendChild(row);
        });
    </script>
</body>
</html>