<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layaut/layaut :: head"> </head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por Favor Espera...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    
    
    <nav th:replace="layaut/layaut :: nav" class="navbar"></nav>
   
    <section th:replace="layaut/layaut :: menu"></section>
    
    <section class="content">
        <div class="container-fluid">
            
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                BUSCAR USUARIO POR C.I / NOMBRE 
                            </h2>
                        </div>
                        <div class="body">
                            <div th:replace="layaut/layaut :: alert2"></div>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="dato" class="form-control" required>
                                    <input type="hidden" th:field="${tipoequipo.id_tipoequipo}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                SELECCIONE PERSONA
                            </h2>
                        </div>
                        <div class="body">
                            <div th:replace="layaut/layaut :: alert2"></div>
                            <div id="replace_div">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>


    <script>
        document.querySelector('input[name="dato"]').addEventListener('keyup', function () {
            // Obtiene el valor del input
            var valor = this.value;
            // Obtiene el valor del input oculto
            var valorIdTipoEquipo = document.querySelector('input[name="id_tipoequipo"]').value;
            // Crea la URL de la solicitud
            var url = "../../../../hardware/personas/" + valor+"/"+valorIdTipoEquipo;

            // Carga el contenido en el elemento con id 'replace_div'
            $('#replace_div').load(url);
        });
    </script>
    <!-- Jquery Core Js -->
    <script src="../../../../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../../../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../../../../plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Bootstrap Colorpicker Js -->
    <script src="../../../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    <!-- Dropzone Plugin Js -->
    <script src="../../../../plugins/dropzone/dropzone.js"></script>

    <!-- Input Mask Plugin Js -->
    <script src="../../../../plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <!-- Multi Select Plugin Js -->
    <script src="../../../../plugins/multi-select/js/jquery.multi-select.js"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="../../../../plugins/jquery-spinner/js/jquery.spinner.js"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="../../../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

    <!-- noUISlider Plugin Js -->
    <script src="../../../../plugins/nouislider/nouislider.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../../../plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="../../../../js/admin.js"></script>
    <script src="../../../../js/pages/forms/advanced-form-elements.js"></script>
    <script src="../../../../js/pages/ui/dialogs.js"></script>

    <!-- Demo Js -->
    <script src="../../../../js/demo.js"></script>

    <!-- SweetAlert Plugin Js -->
    <script src="../../../../plugins/sweetalert/sweetalert.min.js"></script>

    <script src="../../../../js/select2.full.min.js"></script>
</body>

</html>